.bg-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.app-container{
    background-image: linear-gradient(to bottom,#ff6e7f,#bfe9ff);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:350px;
    width:400px;
    border-radius: 12px;
    font-family: 'Roboto';
}
.paragraph1{
    color:#334155;
}
.paragraph2{
    color: #334155;
    font-size: 12px;
}
.btn{
    background-color: #ffffff;
    border-radius: 5px;
    height: 30px;
    width:120px;
    cursor: pointer;
}